body {
    background-color: rgb(241, 242, 246)
}

label {
    color: rgb(155, 151, 151);
    font-size: 1.4rem;
    font-weight: 300;
}

.login-panel {
    max-width:600px;
    margin:10vh auto;
    padding-left:3rem!important;
    padding-right:3rem!important;
}