body {
    background-color: rgb(241, 242, 246)
}

.inline {
    display: inline-block;
}

/* LOGIN PAGE */
.form-label {
    color: rgb(155, 151, 151);
    font-size: 1.4rem;
    font-weight: 300;
}

.no-bullets {
    list-style-type: none;
}

.login-panel {
    max-width: 600px;
    margin: 10vh auto;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.width-100 {
    width: 100px;
}

.width-50 {
    width: 50px;
}

/* END LOGIN PAGE */


/* VIEW SCHEDULES PAGE */
.list-group>li {
    list-style-type: none;
}

.float-right {
    float: right;
}

.title-spacing {
    height: 64px;
}

.center {
    text-align: center;
}

.parent {
    position: relative;
}

.child {
    /* ... */
    position: absolute;
    top: 0;
    right: 0;
}

.round-btn {
    /* height: 80px;
    line-height: 80px;  
    width: 80px;  
    font-size: 2em;
    font-weight: bold; */
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.list-subheader {
    background-color: #AAB2BD;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #F5F7FA;
}

/* END VIEW SCHEDULES PAGE */



/* Trash Button */
.remove-btn-icon {
    color: #DA4453;
    /*$grapefruit-dark*/
    background-color: transparent;
    border: transparent;
    padding-left: 3px;
    padding-right: 6px;
}

.remove-btn-icon.disabled {
    color: #AAB2BD;
    /*$mediumgray-dark*/
    background-color: transparent;
}

.remove-btn-icon:hover,
.remove-btn-icon:focus,
.remove-btn-icon:active,
.remove-btn-icon.active {
    color: #ED5565;
    /*$grapefruit-light*/
    background-color: transparent;
}

.remove-btn-icon:active,
.remove-btn-icon.active {
    color: #AAB2BD;
    /*$mediumgray-dark*/
}

/* End Trash Button */


/* Add Button */
.plus-btn-icon {
    color: #3BAFDA;
    /*$aqua-dark*/
    background-color: transparent;
    border: transparent;
    padding-left: 3px;
    padding-right: 3px;
}

.plus-btn-icon.disabled {
    color: #AAB2BD;
    /*$mediumgray-dark*/
    background-color: transparent;
}

.plus-btn-icon:hover,
.plus-btn-icon:focus,
.plus-btn-icon:active,
.plus-btn-icon.active {
    color: #4FC1E9;
    /*$aqua-light*/
    background-color: transparent;
}

.plus-btn-icon:active,
.plus-btn-icon.active {
    color: #AAB2BD;
    /*$mediumgray-dark*/
}

/* End Add Button */